.category {
    background-color: var(--color-bg-category);
    border:           var(--global-border-width) solid var(--color-border);
    border-radius:    var(--global-border-radius);

    padding:          var(--global-padding);

    backdrop-filter:  blur(4px);
}

.box {
    background-color: var(--color-bg);
    border-radius:    var(--inner-border-radius);
    padding:          calc(var(--global-padding) * .6);
}

.button-panel {
    background-color: var(--color-bg);
    border:           var(--global-border-width) solid var(--color-border);
    border-radius:    var(--global-border-radius);

    padding:          1rem 2rem;
    font-size:        large;
}